h1{
  color: white;
  text-align: center; 
  border: 2px solid blue;
  padding: 10px;
}

body{
  
  border: 2px solid rgb(0, 195, 255);
  background-image: url("https://images.pexels.com/photos/4411214/pexels-photo-4411214.jpeg");
}

h2{
  color: #ab25ef;
}

h3{
  color: rgba(25, 52, 85, 2);
}